<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Efektywność</title>
    <link rel="icon" th:href="@{/images/chart.ico}" type="image/x-icon">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/efficiency.css}">
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">


    <script th:src="@{/js/json.js}" defer></script>
    <script th:src="@{/js/script.js}" defer></script>

<!--            <link rel="stylesheet" href="../static/css/efficiency.css">-->
<!--            <link rel="stylesheet" href="../static/css/sidebarCSS.css">-->
<!--            <script src="../static/js/json.js" defer></script>-->
<!--            <script src="../static/js/script.js" defer></script>-->
</head>

<body>

<div class="sidebar">
    <div class="top">
        <div class="logo">
            <i class='bx bx-bar-chart-alt-2'></i>
            <span>Statystyka</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>

        <div class="user">
            <img src="" alt="User Image" class="user-img" id="user-avatar">
            <div class="information">
                <p class="bold"></p>
                <p class="role"></p>
            </div>
        </div>
        <ul>
            <li sec:authorize="hasAnyRole('ADMIN', 'COORDINATOR', 'USER')">
                <a th:href="@{/index}">
                    <i class="bx bx-home"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN', 'COORDINATOR', 'USER')">
                <a th:href="@{/processes}">
                    <i class="bx bx-windows"></i>
                    <span class="nav-item">Procesy</span>
                </a>
                <span class="tooltip">Procesy</span>
            </li>
            <li>
                <a th:href="@{/settings}">
                    <i class="bx bx-cog"></i>
                    <span class="nav-item">Ustawienia</span>
                </a>
                <span class="tooltip">Ustawienia</span>
            </li>
            <li class="notification-item">
                <a th:href="@{/notifications}">
                    <i class='bx bx-message'></i>
                    <span class="nav-item">Powiadomienia</span>
                    <span id="notification-counter" class="notification-counter" style="display: none;">0</span>
                </a>
                <span class="tooltip">Powiadomienia</span>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN', 'COORDINATOR', 'MANAGER')">
                <a th:href="@{/efficiency}">
                    <i class="bx bx-stats"></i>
                    <span class="nav-item">Efektywność</span>
                </a>
                <span class="tooltip">Efektywność</span>
            </li>
            <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/adminPanel}">
                    <i class='bx bx-user-check'></i>
                    <span class="nav-item">Panel Admina</span>
                </a>
                <span class="tooltip">Panel Admina</span>
            </li>
        </ul>
    </div>
    <ul>
        <li>
            <a th:href="@{/logout}">
                <i class="bx bx-log-out"></i>
                <span class="nav-item">Wyloguj</span>
            </a>
            <span class="tooltip">Wyloguj</span>
        </li>
    </ul>
</div>


<div class="main-content">
    <div class="loader"></div>
    <div class="error-container" id="err-container">
        <p th:if="${error}" class="error">
                <span class="error-content" th:text="${error}">
                </span>
            <i class='bx bx-x-circle' onclick="hideError()"></i>
        </p>
    </div>


    <header class="title-container">
        <h1>Backlog - szczegóły</h1>
        <span id="currentDate"></span>
    </header>

    <form th:action="@{/backlogDetails}" method="get" class="filter-form">
        <div class="filter-container">
            <div class="modalsBtn">
                <button class="mainBtn return" type="button" th:onclick="|window.location.href='@{/efficiency}'|">Powrót</button>
            </div>
            <div class="filter-date-container">
                <div class="date-container">
                    <label class="date-label" for="startDate">Od:</label>
                    <input class="date-input" type="date" id="startDate" name="startDate" th:value="${startDate}">
                </div>
                <div class="date-container">
                    <label class="date-label" for="endDate">Do:</label>
                    <input class="date-input" type="date" id="endDate" name="endDate" th:value="${endDate}">
                </div>
                <div class="date-btn">
                    <button type="submit" class="filter-button">Filtruj</button>
                </div>
            </div>
            <div class="xlsx-btn">
                <button type="button" class="filter-button"  id="exportBacklogBtn">XLSX</button>
            </div>
        </div>
    </form>

    <div class="table-container">
        <table class="summary-table">
            <thead>
            <tr>
                <th>Proces</th>
                <th th:each="day : ${last7Days}">
                    <span th:text="${#temporals.format(day, 'dd-MM-yyyy')}"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${groupedBacklog}">
                <td th:text="${entry.key.processName}"></td>
                <td th:each="day : ${last7Days}">
                    <span th:text="${entry.value.get(day)} ?: ''"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>




<input type="hidden" id="userId" th:value="${userId != null ? userId : ''}">

</div>

</body>
</html>