<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pierwsze logowanie</title>
    <link rel="icon" th:href="@{/images/chart.ico}" type="image/x-icon">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script th:src="@{/js/script.js}" defer></script>
     <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

<div class="popup">
    <div class="logout-container" id="container">
        <p th:if="${param.logout}" class="userMessage">
                <span class="userMessage-content">
                    <strong>Sukces!</strong> Pomyślnie wylogowano ze statystyki.
                    <a href="/login">Zaloguj się ponownie</a>.
                </span>
            <i class='bx bx-x-circle'></i>
        </p>
    </div>

    <div class="error-container" id="err-container">
        <p th:if="${param.error}" class="error">
                <span class="error-content">
                    <strong>Uwaga!</strong> Błędne dane logowania, spróbuj ponownie.
                    <a href="/firstLogin">Zaloguj się ponownie</a>.
                </span>
            <i class='bx bx-x-circle'></i>
        </p>
    </div>
</div>
<main>
<p th:if="${param.error == 'mismatch'}">Hasła nie są identyczne, spróbuj ponownie.</p>

     <div class="loader"></div>

<div id="first-login-window" class="login active">
        <form id="new-user-form" method="post" th:action="@{/api/user/changePassword}">
            <div class="inputs">
                <h1 class="loginTitle">Pierwsze logowanie</h1>

                <label for="username">Nazwa użytkownika</label>
                <div class="input-box">
                    <input type="text" id="username" name="username" required autofocus>
                </div>
                <label for="temporary-password">Tymczasowe hasło</label>
                <div class="input-box">
                    <input type="password" id="temporary-password" name="temporary-password" required
                           autocomplete="new-password">
                    <i class="fa-solid fa-eye-slash" id="show-temporary-password"></i>
                </div>
                <label for="new-password">Nowe hasło</label>
                <div class="input-box">
                    <input type="password" id="new-password" name="newPassword" required autocomplete="new-password">
                    <i class="fa-solid fa-eye-slash" id="show-new-password"></i>
                </div>
                <label for="confirm-password">Potwierdź hasło</label>
                <div class="input-box">
                    <input type="password" id="confirm-password" name="confirmPassword" required>
                    <i class="fa-solid fa-eye-slash" id="show-confirm-password"></i>
                </div>
            </div>
        <label>Mam już konto -- <a th:href="@{/login}">Zaloguj</a></label>
            <div class="btnContainer">
                <button type="submit" class="mainBtn">Zmień hasło</button>
            </div>
        </form>
</div>

</main>
<footer>
    <p>&copy; Statystyka 2025</p>
</footer>

</body>

</html>
