<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statystyka</title>
    <link rel="icon" th:href="@{/images/chart.ico}" type="image/x-icon">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <script th:src="@{/js/script.js}" defer></script>
    <script th:src="@{/js/json.js}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

<div class="sidebar">
    <div class="top">
        <div class="logo">
            <i class='bx bx-bar-chart-alt-2'></i>
            <span>Statystyka</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>

        <div class="user">
            <img src="" alt="User Image" class="user-img" id="user-avatar">
            <div class="information">
                <p class="bold"></p>
                <p class="role"></p>
            </div>
        </div>

        <ul>
            <li sec:authorize="hasAnyRole('ADMIN', 'COORDINATOR', 'USER')">
                <a th:href="@{/index}">
                    <i class="bx bx-home"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN', 'COORDINATOR', 'USER')">
                <a th:href="@{/processes}">
                    <i class="bx bx-windows"></i>
                    <span class="nav-item">Procesy</span>
                </a>
                <span class="tooltip">Procesy</span>
            </li>
            <li>
                <a th:href="@{/settings}">
                    <i class="bx bx-cog"></i>
                    <span class="nav-item">Ustawienia</span>
                </a>
                <span class="tooltip">Ustawienia</span>
            </li>
            <li class="notification-item">
                <a th:href="@{/notifications}">
                    <i class='bx bx-message'></i>
                    <span class="nav-item">Powiadomienia</span>
                    <span id="notification-counter" class="notification-counter" style="display: none;">0</span>
                </a>
                <span class="tooltip">Powiadomienia</span>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN', 'COORDINATOR', 'MANAGER')">
                <a th:href="@{/efficiency}">
                    <i class="bx bx-stats"></i>
                    <span class="nav-item">Efektywność</span>
                </a>
                <span class="tooltip">Efektywność</span>
            </li>
            <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/adminPanel}">
                    <i class='bx bx-user-check'></i>
                    <span class="nav-item">Panel Admina</span>
                </a>
                <span class="tooltip">Panel Admina</span>
            </li>
        </ul>
    </div>
    <ul>
        <li>
            <a th:href="@{/logout}">
            <i class="bx bx-log-out"></i>
            <span class="nav-item">Wyloguj</span>
        </a>
            <span class="tooltip">Wyloguj</span>
        </li>
    </ul>
</div>

<div class="main-content">

    <div class="loader"></div>

    <div class="popup">
        <!-- Komunikat dynamiczny -->
        <div id="popup-userMessage" class="userMessage" style="display: none;">
            <span></span>
            <i class='bx bx-x-circle' onclick="this.parentElement.style.display='none'"></i>
        </div>
    </div>

    <div class="title-container">
        <h1>Statystyka</h1>
        <span id="currentDate"></span>
    </div>

    <div class="overtime-wrapper">
        <section class="volume-type-selector">
            <div class="vts-container">
                <div class="vts-header">
                    <span class="vts-label">Menu</span>
                    <i class="bx bx-chevron-down vts-arrow"></i>
                </div>
                <div class="vts-body">
                    <label class="radio-item">
                        <input type="radio" name="volumeType" value="BASIC" checked>
                        <span>Czas podstawowy</span>
                    </label>
                    <label class="radio-item">
                        <input type="radio" name="volumeType" value="OVERTIME_PAID">
                        <span>Nadgodziny płatne</span>
                    </label>
                    <label class="radio-item">
                        <input type="radio" name="volumeType" value="OVERTIME_OFF">
                        <span>Nadgodziny do odbioru</span>
                    </label>
                    <label class="radio-item">
                        <input type="radio" name="volumeType" value="DEDUCT_PARTIAL">
                        <span>Odbierz nadgodziny</span>
                    </label>
                    <label class="radio-item">
                        <input type="radio" name="volumeType" value="DEDUCT_FULL_DAY">
                        <span>Odbierz cały dzień</span>
                    </label>
                    <div class="overtime-date-picker">
                       <input type="date" id="overtimeDate" />
                    </div>
                </div>
            </div>
        </section>


        <section id="overtimeContainer" class="hidden">
            <div class="overtime-box">
                <div class="overtime-label">Płatne</div>
                <div class="overtime-value" id="overtimePaid">0&nbsp;min</div>
            </div>
            <div class="overtime-box">
                <div class="overtime-label">Do odbioru</div>
                <div class="overtime-value" id="overtimeOff">0&nbsp;min</div>
            </div>
        </section>
    </div>


    <section id="overtimeInputSection" class="hidden">
        <label for="overtimeMinutes">Czas nadgodzin (w minutach):</label>
        <div class="overtime-body">
            <input type="number" id="overtimeMinutes" min="1" step="1" placeholder="np. 60">
            <button class="mainBtn index" id="confirmOvertime" title="Zapisz nadgodziny">Potwierdź</button>
        </div>
    </section>




    <div class="container mt-3">
        <!-- Dodanie onsubmit="return false;" zapobiega odświeżeniu strony -->
        <form id="saveForm" onsubmit="return false;">
            <div class="process-list-wrapper">
                <div class="row">

                    <!-- Sprawdzenie, czy są procesy -->
                    <th:block th:if="${#lists.isEmpty(favoriteProcesses)}">
                        <h2 style="text-align: center; color: gray;">Brak dodanych procesów</h2>
                    </th:block>

                    <!-- Pętla iterująca przez procesy -->
                    <th:block th:each="process : ${favoriteProcesses}">
                        <div class="col-md-6">
                            <div class="input-container">
                                <div class="form-floating mb-3 mt-6">
                                    <input type="number" class="form-control"
                                           th:id="${process.processName}"
                                           th:placeholder="${process.processName}"
                                           th:name="quantity"
                                           th:attr="data-process-id=${process.id}"
                                           min="1">

                                    <label th:for="${process.processName}" th:text="${process.processName}"></label>
                                    <i class='bx bx-plus add-efficiency' th:attr="data-process-id=${process.id}"></i>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </form>
    </div>

    <div class="confirmBtnDiv">
<!--        <button class="processBtn" id="saveAllBtn" type="button">Zapisz</button>-->
        <a href="#" class="animated-button" id="saveAllBtn" title="Zapisz wolumen">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Zapisz
        </a>
    </div>

    <div id="firstLoginModal" class="modal hidden">
        <div class="modal-content">
            <form id="setupForm">
                <div class="title">
                    <h4>Uzupełnij dane</h4>
                </div>

                <label for="team">Zespół:</label>
                <select id="team" name="teamId" required>
                    <option value="">Wybierz zespół</option>
                </select>

                <label for="section">Sekcja:</label>
                <select id="section" name="sectionId" required>
                    <option value="">Wybierz sekcję</option>
                </select>

                <label for="position">Stanowisko:</label>
                <select id="position" name="positionId" required>
                    <option value="">Wybierz stanowisko</option>
                </select>

                <div class="btnContainer">
                    <button type="submit" class="mainBtn">Zapisz</button>
                </div>
            </form>
        </div>
    </div>

    <div id="confirmModal" class="modal hidden">
        <div class="confirm-modal-content">
            <div class="confirm-header">
                <h5>Uwaga!</h5>
                <p id="confirmText"></p>
            </div>
            <div class="confirm-button">
                <button id="confirmYes" class="mainBtn confirmBtn">Tak</button>
                <button id="confirmNo" class="mainBtn confirmBtn" >Nie</button>
            </div>
            </div>
    </div>





</div>





<input type="hidden" id="userId" th:value="${userId != null ? userId : ''}">

</body>

</html>