<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przywróć hasło</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script th:src="@{/js/script.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
<main>
     <div class="loader"></div>

    <!-- Kontener na komunikaty -->
    <div class="popup">
        <!-- Komunikat sukcesu -->
        <div class="userMessage" th:if="${param.success}">
        <span>
            <strong>Sukces!</strong>
            <span th:if="${param.success[0] == 'passwordChanged'}"> Pomyślnie zmieniono hasło! </span>
        </span>
            <i class='bx bx-x-circle' onclick="this.parentElement.style.display='none'"></i>
        </div>

        <!-- Komunikaty błędów -->
        <div class="error" th:if="${param.error}">
        <span>
            <strong>Uwaga!</strong>
            <span th:if="${param.error[0] == 'mismatch'}"> Hasła nie są identyczne! Spróbuj ponownie.</span>
            <span th:if="${param.error[0] == 'weakPassword'}"> Hasło nie spełnia wymagań bezpieczeństwa.</span>
            <span th:if="${param.error[0] == 'userNotFound'}"> Użytkownik nie istnieje.</span>
            <span th:if="${param.error[0] == 'general'}"> Nie udało się zmienić hasła! Spróbuj ponownie.</span>
        </span>
            <i class='bx bx-x-circle' onclick="this.parentElement.style.display='none'"></i>
        </div>
    </div>




    <div id="restore-password-window" class="login active">
        <form id="restore-password-form" th:action="@{/api/user/restorePassword}" method="post">
            <div class="inputs">
                <h1>Odzyskaj hasło</h1>
                <label for="email">Email</label>
                <div class="input-box">
                    <input type="text" id="email" name="email" required autofocus>
                </div>
            <label id="restorePasswordId">Powrót -- <a th:href="@{/login}">Zaloguj</a></label>
            </div>
            <div class="btnContainer">
                <button type="submit" class="mainBtn">Zmień</button>
            </div>
        </form>
    </div>
</main>

<footer>
    <p>&copy; Statystyka 2025</p>
</footer>

</body>

</html>
