<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/settings.css}">
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <script th:src="@{/js/json.js}" defer></script>
    <script th:src="@{/js/script.js}" defer></script>
</head>

<body>

<div class="sidebar">
    <div class="top">
        <div class="logo">
            <i class='bx bx-bar-chart-alt-2'></i>
            <span>Statystyka</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>

        <div class="user">
            <img src="" alt="User Image" class="user-img">
            <div>
                <p class="bold"></p>
                <p class="role"></p>
            </div>
        </div>
        <ul>
            <li>
                <a th:href="@{/index}">
                    <i class="bx bx-home"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a th:href="@{/processes}">
                    <i class="bx bx-windows"></i>
                    <span class="nav-item">Procesy</span>
                </a>
                <span class="tooltip">Procesy</span>
            </li>
            <li>
                <a th:href="@{/efficiency}">
                    <i class="bx bx-stats"></i>
                    <span class="nav-item">Efektywność</span>
                </a>
                <span class="tooltip">Efektywność</span>
            </li>
            <li>
                <a th:href="@{/settings}">
                    <i class="bx bx-cog"></i>
                    <span class="nav-item">Ustawienia</span>
                </a>
                <span class="tooltip">Ustawienia</span>
            </li>
        </ul>
    </div>
    <ul>
        <li>
            <a th:href="@{/logout}">
                <i class="bx bx-log-out"></i>
                <span class="nav-item">Wyloguj</span>
            </a>
            <span class="tooltip">Wyloguj</span>
        </li>
    </ul>
</div>


<div class="main-content">
    <div class="loader"></div>
    <div class="error-container" id="err-container">
        <p th:if="${error}" class="error">
                <span class="error-content" th:text="${error}">
                </span>
            <i class='bx bx-x-circle' onclick="hideError()"></i>
        </p>
    </div>


        <div class="input-container">
            <form th:action="@{/api/user/settings}" th:object="${user}" method="post" class="add-role collapsed" id="form-container">
                <div class="min-max" id="toggle-header">
                    <h3>Dodaj Użytkownika</h3>
                    <i class='bx bx-chevron-down' id="toggle-icon"></i>
                </div>
                <div class="form-content" id="form-content">
                    <label for="firstName">Imię</label>
                    <input type="text" name="firstName" id="firstName">

                    <label for="lastName">Nazwisko</label>
                    <input type="text" name="lastName" id="lastName">

                    <label for="username">Login</label>
                    <input type="text" name="username" id="username">

                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                    <div id="usernameFeedback"></div> <!-- This is where the validation message will appear -->

                    <label>Rola</label>
                    <div class="radio-group">
                        <div class="radio-item">
                            <input type="radio" id="admin" name="id_role" value="1" required> <!-- ID dla Admin -->
                            <label for="admin">Admin</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="manager" name="id_role" value="2" required> <!-- ID dla Manager -->
                            <label for="manager">Kierownik</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="coordinator" name="id_role" value="3" required> <!-- ID dla Koordynator -->
                            <label for="coordinator">Koordynator</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="uzytkownik" name="id_role" value="4" required> <!-- ID dla Użytkownik -->
                            <label for="uzytkownik">Użytkownik</label>
                        </div>
                    </div>
                    <button type="submit" id="submit-button">Dodaj</button>
                </div>
            </form>
        </div>

        <br />

        <h1 class="settings-header">Uprawnienia</h1>
    <div class="role">
    <form th:action="@{/api/user/saveUsers}" method="post" id="users-form">
        <table>
            <thead>
            <th>Zaznacz</th>
<!--            <th>ID</th>-->
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Login</th>
            <th>Email</th>
            <th>Rola</th>
            </thead>
            <tbody>
            <tr th:each="user : ${form_users}">
                <td class="checkbox-cell">
                    <input type="checkbox" class="checkbox-button" th:name="selectedUsers" th:value="${user.id}"/>
                </td>
<!--                <td th:text="${user.id}">User ID</td>-->
                <td th:text="${user.firstName}">Imię</td>
                <td th:text="${user.lastName}">Nazwisko</td>
                <td th:text="${user.username}">Login</td>
                <td th:text="${user.email}">Email</td>
                <td class="select-cell">
                        <select class="select-role" th:attr="name='roles[' + ${user.id} + ']'" th:value="${user.role_name}">
                            <option value="Admin" th:selected="${user.role_name == 'Admin'}">Admin</option>
                            <option value="Manager" th:selected="${user.role_name == 'Manager'}">Manager</option>
                            <option value="Coordinator" th:selected="${user.role_name == 'Coordinator'}">Coordinator</option>
                            <option value="User" th:selected="${user.role_name == 'User'}">User</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="new-form-button-container">
            <button type="submit" class="new-form-button">Zapisz</button>
            <button id="deleteButton" class="new-form-button" formaction="/api/user/deleteUsers" formmethod="post">Usuń</button>
        </div>
    </form>
        <p id="statusMessage"></p>
    </div>

</div>

</body>
</html>