/* ============================================= BUTTON =================================================== */

.animated-button {
  background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
  padding: 10px 20px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  color: #d4e0f7;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button:hover::before {
  opacity: 0.2;
}

.animated-button span {
  position: absolute;
}

.animated-button span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
  background: linear-gradient(to left, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.animated-button span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
  background: linear-gradient(to top, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.animated-button span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#2662d9));
  background: linear-gradient(to right, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.animated-button span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#2662d9));
  background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.formBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 315px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
  margin: 7px 0;
}

.formBtn:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.editBtn {
    display: flex;
    justify-content: center;
    gap: 12px;
}
/* ============================================= BUTTON END =================================================== */

/* ============================================= MESSAGE =================================================== */

/* Globalne ustawienie kontenerów wiadomości */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 0.5s ease-out;

}
.message {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color:#d1e7dd;
    color: #0a3622;
    border: 1px solid #a3cfbb;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    animation: slideDown 0.5s ease-out;
}

.error {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color:#f8d7da;
    color: #58151C;
    border: 1px solid #f1aeb5;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    animation: slideDown 0.5s ease-out;
}

.message i, .error i {
    cursor: pointer;
    font-size: 24px;
    padding: 0 20px;
}

.message-content,
.error-content {
    padding: 10px;
}
.error a,
.message-content a,
.error-content a {
    color: #58151C;
}
.message a {
    color: #0a3622;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* ============================================= MESSAGE END=================================================== */

/* ============================================= HEADER ======================================================= */

/* Stylizacja nagłówka */
.title-container {
    display: flex;
    justify-content: space-between; /* Tytuł po lewej, data po prawej */
    align-items: center;
    padding: 15px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title-container h1 {
    font-weight: normal;
}
/* Styl dla daty */
#currentDate {
    font-size: 16px;
    color: #555;
    font-weight: bold;
}
/* ============================================= HEADER END ======================================================= */
.chart-header {
    display: flex;
    justify-content: space-between; /* odstępy pomiędzy grupami */
    align-items: center;
    margin-bottom: 10px;
}

.date-filter {
    display: flex;
    align-items: center;
    margin: 0 auto; /* 🔥 to centruje */
    gap: 10px;
}

.backlog-date-input {
    padding: 5px 8px;
}
.changeScaleBtn {
    display: flex;
    align-items: center;
}
#filterButton,
.changeScaleBtn button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 5px;

}
.filter-container,
.left-side.overtime,
.modalsBtn {
    display: flex;
    margin: 5px 0 5px 0;
    gap: 10px;
}
.modalsBtn.note {
    justify-content: space-around;
}
.checkbox-button.row,
.checkbox-button {
    width: 20px; /* szerokość checkboxa */
    height: 20px; /* wysokość checkboxa */
    transform: scale(1.2); /* skalowanie */
    margin: auto; /* centrowanie checkboxa */
    cursor: pointer;
}
.checkbox-button.all {
    position: absolute;
    right: 24px;    /* odstęp od prawej */
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    accent-color: white;
    box-shadow: 0 0 2px #aaa;
}
.selectAllCheck {
    position: relative;
    min-width: 150px;
    padding: 0 16px;  /* trochę przestrzeni po bokach */
}
.selectAllLabel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;  /* wyśrodkowanie poziome */
    font-weight: bold;
}

/* FORMS BUTTONS */
.btn-cancel {
  padding: 8px 20px;
  border: 1px solid #cdcbcb;
  border-radius: 7px;
  background: #f4f5f8;
  color: #21242c;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.14s;
}
.btn-cancel:hover {
  background: #cdcbcb;
}

.btn-save {
  display: flex;
  padding: 8px 22px;
  border: none;
  border-radius: 7px;
  background: #2564ef;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.14s;
  text-decoration: none;
}
.btn-save:hover {
  background: #1746b3;
}
.btn-save i {
    font-size: 1.3em;
    margin-right: 8px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.btn-cancel i {
    font-size: 1.3em;
    margin-right: 8px;
    vertical-align: middle;
}

.btn-back {
    background: #f5f6fa;
    color: #375585;
    border: 1.5px solid #d3d9e3;
    border-radius: 10px;
    padding: 8px 26px;
    font-size: 1.08em;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: background 0.14s, color 0.14s, border 0.14s;
    box-shadow: 0 1px 2px rgba(34,60,80,0.06);
    text-decoration: none;
}
.btn-back i {
    font-size: 1.2em;
    margin-right: 8px;
    vertical-align: middle;
}
.btn-back.backlog {
    display: flow;
    padding: 8px 67px;

}

.btn-back:hover {
    background: #e4e8f2;
    color: #1e3051;
    border-color: #b6becb;
}


.btn-delete {
    background: #faeaea;
    color: #d32f2f;
    border: 1.5px solid #f3bdbd;
    border-radius: 10px;
    padding: 8px 24px;
    font-size: 1.08em;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: background 0.15s, color 0.15s, border 0.15s;
    text-decoration: none;

}
.btn-delete i {
    font-size: 1.2em;
    vertical-align: middle;
}

.btn-delete:hover {
    background: #f7d3d3;
    color: #a91a1a;
    border-color: #ef8b8b;
}

.processes {
    width: 250px;
    display: flex;
    justify-content: center;
}
.processes.up {
    width: 130px;
}