body {
   font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 300px;
    background: #e9eeff;
}
.error-container-header {
    display: flex;
    flex-direction: column;
}
.error-container {
    padding: 20px;
    color: black;
    display: inline-block;
}
.error-title {
    font-size: 3em;
    text-align: center;
}

